@media (max-width: 1300px) {
    #Registration .box,
    #Filtration .search{
        width: 300px;
        flex-direction: column;
    }
    #Filtration table{
        min-width: max-content;
    }
    .pagination {
        justify-content: initial;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {}

@media (min-width: 577px) and (max-width: 1300px) {
    #Registration .box,
    #Filtration .search{
        width: 350px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    #Registration .box,
    #Filtration .search{
        width: 400px;
        flex-direction: initial;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    #Registration .box,
    #Filtration .search{
        width: 500px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
    .pagination {
        justify-content: center;
    }
}