body{
    background: #152331;
    background: -webkit-linear-gradient(to right, #000000, #152331);
    background: linear-gradient(to right, #000000, #152331);
}

#Registration img{
    width: 15%;
}
#Registration .box{
    background: #ada996;
    background: -webkit-linear-gradient(to right,#eaeaea,#dbdbdb,#f2f2f2,#ada996);
    background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
    border-radius: 20px;
    width: 500px;
    margin: auto;
    position: relative;
}
#Registration .box h2{
    color: #223a51;
}
#Registration .box input:focus{
    box-shadow: none;
    border-color: #dee2e6;
}
#Registration .box input.password{
    border-right: none;
}
#Registration .box .input-group-text.eye{
    background-color: #fff;
}
#Registration .box .input-group-text.eye i{
    color: #223a51;
    cursor: pointer;
    display: none;
}
section i{
    color: #ba944d;
}

#Filtration form{
    width: 500px;
    margin-inline: auto;
}

#Filtration .pagination .page-link{
    cursor: pointer;
}